---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Diff"
on:
  workflow_call:
    outputs:
      matrix:
        description: "The images that were added or modified"
        value: ${{ jobs.changed-files.outputs.matrix }}

jobs:
  changed-files:
    name: Get Changed Files
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.strip-prefix.outputs.all_changed_files }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46
        with:
          files: apps/**
          dir_names: true
          dir_names_max_depth: 2
          matrix: true
          json: true
          escape_json: false
      - name: Strip apps/ prefix
        id: strip-prefix
        run: |
          IMAGES=$( \
              echo '${{ steps.changed-files.outputs.all_changed_files }}' \
                  | jq --raw-output --compact-output 'map(sub("^apps/"; ""))' \
          )
          echo "all_changed_files=${IMAGES}" >> "$GITHUB_OUTPUT"
      - name: List all changed files
        run: echo '${{ steps.strip-prefix.outputs.all_changed_files }}' | jq
