---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Check Pull Requests"
on:
  pull_request:
    branches: ["main"]
    types: ["opened", "synchronize", "reopened"]

concurrency:
  group: ${{ github.head_ref }}-pr-check
  cancel-in-progress: true

jobs:
  lint:
    # uses: kusold/containers/.github/workflows/lint.yaml@main
    uses: ./.github/workflows/lint.yaml
    secrets: inherit

  diff:
    uses: kusold/containers/.github/workflows/diff.yaml@main
    # uses: ./.github/workflows/diff.yaml

  build-images:
    needs: ["diff"]
    if: ${{ !contains(needs.diff.outputs.matrix, '[]') }}
    # uses: kusold/containers/.github/workflows/build-images.yaml@main
    uses: ./.github/workflows/build-images.yaml
    secrets: inherit
    with:
      matrix: "${{ needs.diff.outputs.matrix }}"
      publish: false
