---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Release on Merge"
on:
  push:
    branches: ["main"]
    paths:
      - "apps/**"

concurrency:
  group: release-image
  cancel-in-progress: false

jobs:
  diff:
    uses: kusold/containers/.github/workflows/diff.yaml@main

  build-images:
    needs: ["diff"]
    if: ${{ !contains(needs.diff.outputs.matrix, '[]') }}
    uses: kusold/containers/.github/workflows/build-images.yaml@main
    # uses: ./.github/workflows/build-images.yaml
    secrets: inherit
    with:
      matrix: "${{ needs.diff.outputs.matrix }}"
      publish: true

  scan-images:
    needs: ["diff", "build-images"]
    if: ${{ !contains(needs.diff.outputs.matrix, '[]') }}
    uses: kusold/containers/.github/workflows/trivy-scan.yaml@main
    secrets: inherit
    permissions:
      contents: read
      packages: read
      security-events: write
